*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


body{
    margin: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    background-color:#000000;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 5px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-logo {
    width: 100px;
    height: 100px;
}

.img-cart{
    width: 60px;
    height: 70px;
    position: relative;
    left: 40rem;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.nav-bar > h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    left: 35rem;
}

.color1 {
    color: #fc7f13; /* Color para la primera parte */
}

.color2 {
    color: #fdfffd; /* Color para la segunda parte */
}

.container-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 2px;
    height: 450%;
    padding: 10px;
}

.container-products > div {
    flex: 1 1 150px;
    margin: 7px;
    background-color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 390px;
    justify-content: center;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    padding: 10px;
}

.photo-products {
    width: 90%;
    height: 70%;
    object-fit: cover;
    justify-content: center;
    margin: 10px;
}


/*Carrito*/

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #000000;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }

  th {
    background-color: #fdc274;
  }
  
  tr:nth-child(even) {
    background-color: #fedcaa;
  }

  /* Estilo del modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Mantener el modal en su lugar */
    z-index: 1; /* Encima de todo */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    overflow: auto; /* Permitir desplazamiento si es necesario */
    background-color: rgb(0,0,0); /* Color de fondo negro */
    background-color: rgba(0,0,0,0.4); /* Con opacidad */
}

/* Estilo del contenido del modal */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centrar el modal */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho del modal */
}

/* Estilo del botón de cerrar */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.btn-open-modal {
    width: 120px;
    height: 30px;
    position: relative;
    left: 45rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:  #fc7f13;
    border-radius: 30px;
}

.btn-buy {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 120px;
    height: 30px;
    background-color: #fc7f13;
    border-radius: 30px;
    border: #fc7f13;
    margin: 10px;
}

